
#top{
  background-image: url('../core/assets/banner-app.jpg');
  background-repeat: no-repeat;

  background-size: 100% 100%;



}

input[type=text] {
    background-color: rgba(191, 191, 191, 0.6);
    opacity: 1;
    background-image: url('../core/assets/search-icon.png');
    background-position: 15px 12px;
    background-repeat: no-repeat;
    padding-left: 70%;
    padding-top: 15px;
    padding-bottom:15px;
    margin-right: 15%;
    margin-top: 10px;
    border-radius: 2px;
    border:none;
}


input[type=submit]{
    color: white;
    font-weight: bold;
    border: #0099ff;
    border-radius: 3px;
    padding: 10px 25px;
    background-color: #0099ff;
    width: 120px;
}


#logo{
  width: 15%;
  height: 110px;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
  padding-top:40px;

}

#search{
  width: 68%;
  height: 110px;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  vertical-align: top;
  padding-top:40px;
  padding-left:10%;
}

#signin{
  width: 15%;
  height: 10px;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  vertical-align: top;
  padding-top:55px;
  padding-left:5%;
  padding-bottom: 20px;
}

#middle{
  box-sizing: border-box;
  border: none;
  margin: 0 auto;
  width: 500px;
  padding-top:50px;
  padding-bottom:370px;
  vertical-align:top;
  text-align:center;



}


h1,h3{
  color:white;
}


h2{
  margin-left:10px;
}

h5{
  color:grey;
  margin-left:10px;
}


#join input[type=button]{
  width: 200px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
  padding-top:40px;
  padding-left:110px;
  padding-bottom: 20px;


}


#hits{
  font-family:"Arial";
  border: none;
  background-color: white;
  border-radius: 2px;
  float:left;
  margin-right: 25px;
  margin-top: -200px;
  margin-left: 12%;
  display:inline-block;
  transition: margin-top 1s;
  position: absolute;
  overflow:hidden;

}

#hits:hover{
  margin-top: -250px;
  visibility: visible;
  opacity: 0.7;
  filter: alpha(opacity=30);
}



#night{
  font-family:"Arial";
  border: none;
  background-color: white;
  border-radius: 2px;
  float:left;
  margin-right: 25px;
  margin-top: -200px;
  margin-left: 40%;
  display:inline-block;
  transition: margin-top 1s;
  position: absolute;
  overflow:hidden;
  opacity: 1;
  filter: alpha(opacity=100);
}

#night:hover {
  margin-top: -250px;
  visibility: visible;
  opacity: 0.7;
  filter: alpha(opacity=30);
}

#djmix{
  font-family:"Arial";
  border: none;
  background-color: white;
  border-radius: 2px;
  float:left;
  margin-right: 25px;
  margin-top: -200px;
  margin-left: 68%;
  display:inline-block;
  transition: margin-top 1s;
  position: absolute;
  overflow:hidden;
  opacity: 1;
  filter: alpha(opacity=100);
}

#djmix:hover{
  margin-top: -250px;
  visibility: visible;
  opacity: 0.7;
  filter: alpha(opacity=30);
}


#hits input{
  visibility: hidden;
}

#hits:hover input{
  visibility:visible;
}

#night input{
  visibility: hidden;
}

#night:hover input{
  visibility:visible;
}

#djmix input{
  visibility: hidden;
}

#djmix:hover input{
  visibility:visible;
}






input[type=button]{


  color: white;
  font-weight: bold;
  border: #0099ff;
  border-radius: 3px;
  padding: 10px 25px;
  background-color: #0099ff;
  width: 150px;
  margin-top:-250px;
  margin-left: 125px;

}








#playlist {
    width: 600px;
    margin-top: 0px;
    border: none;
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    left: 50px;
    height: 700px;
    transition: margin-top 2s;
    background-color:white;
    visibility: hidden;

}


input:hover #playlist {
    visibility: visible;
}

#playlist{
  padding-top:15px;
}

#header{
  width: 100%;
  background-color: #f5f5ef;

}

#image{
  display: inline-block;
  vertical-align: top;
}

#playingfrom{
  display: inline-block;
  vertical-align: top;
}




#container{
  background-color:#f2f2f2;
  overflow: auto;
}

.bottom{

  clear:both;

}
